.but{
    background-color: #f1f3f4 !important;
}

.operator, .clear, .pi{
    background-color: #dfe1e5 !important;
}

.equals{
    background-color: #3c7afc !important;
}


.screen{
    text-align: right;
    font-size: 32px;
}

.display{
    height: 10vw;
    border: 1px solid grey;
    border-radius: 4px;

    margin:16px 0 8px 0;
}

.sum{
    width: 90%;
    text-align: right;
}


.btn{
    height: 14vh;
    font-size: 14px !important;
    border-radius: 4px !important;
}

@media only screen and (max-width: 600px) {
    .btn{
        height: 14vh !important;
    }
}

.btn-group.btn-row {
    display: flex;
  }
  
  .btn-row .btn {
    flex: 1
  }
