#screen{
    resize: none;
    border-radius: 1vh 1vh 1vh 1vh;
    background-color: #e8e8e8;
    border:none;
    width: 43vh;
    height: 10vh;
    margin: 1vh 1vh 1vh 1vh;
    padding: 2vh 4vh 0vh 0vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6vh;
    font-weight: lighter;
    text-align: right;
}
.buts {
    height: 10vh;
    width:10vh;
    background-color: #e8e8e8;
    color: black;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
    font-weight: lighter;
    border-radius: 1vh 1vh 1vh 1vh;
    border:none;
    margin: 1vh 1vh 1vh 1vh;
}

.operator {
    background-color:#cdcdcd;
}

#equal {
    background-color:#9ed2fa;
}
